body{
color: #40514e;
text-align:center;
font-family: 'Merriweather', cursive, serif,sans-serif;
margin:0;
}

.top{
background-image: url('bundlebooks.jpg'); 
background-repeat: no-repeat;
background-position:center;
background-size: 100% ;
height:40em;
margin:0;
}

.middle-container{
margin:50px 0;
}
 
.profile{
width:40%;
margin: auto;
}
 
.profile img{
border-radius: 40rem;
width:40%;
margin:0 auto;
}

.profile p{
text-align: left; 
line-height: 2;
} 

.skill-row{
width: 45%; 
margin: 100px auto 250px;
}

.skill-img{
float: left;
width:40%;
} 

 .skill-row p{
line-height: 2;
text-align: left;
} 
.strength-img{
float: right;
text-align: left;
width:45%;

}

.bottom-container{
background-color:#66bfbf; 
padding: 80px 0 50px;
}
/* footer div  */
a{
color: #005964;
font-weight: bold;
font-family:Montserrat, sans-serif;
padding: 10px 50px;
text-decoration:none;
margin:0 20px;

}

a:hover{
color: #ffffff;
}

.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 12px;
   color: #FFFFFF;
   font-family: Montserrat, sans-serif;
   font-size: 20px;
   padding: 10px 20px;
   text-decoration: none;
}

.btn:hover {
   background: #7DA1DB;
   background-image: -webkit-linear-gradient(top, #7DA1DB, #3D94F6);
   background-image: -moz-linear-gradient(top, #7DA1DB, #3D94F6);
   background-image: -ms-linear-gradient(top, #7DA1DB, #3D94F6);
   background-image: -o-linear-gradient(top, #7DA1DB, #3D94F6);
   background-image: -webkit-gradient(to bottom, #7DA1DB, #3D94F6);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.cloud1{
width:8%;
position: relative;
top: 75px;
left: 70%;
display: block;
}

.cloud2{
width:8%;
position: relative;
right: 400px;
bottom:210px;
}

.contact-message{
width: 30%;
margin:60px auto 150px;
}

.contact-me{
margin-bottom:90px;
}

.copyright{
color: #eaf6f6;
margin-top:40px;
}

h1{
font-size: 7em;
font-family: 'Sacramento', cursive, sans-serif;
margin-bottom: 0;
color: #09a1a6;
}

h2{
font-size: 3em;
font-family: 'Montserrat', sans-serif;
color: darkcyan;
padding-left: 10px;
}

h3{
font-family: 'Montserrat', sans-serif;
font-size: 2em;
color:#1b91cc;
}

hr{
border-style:none;
border-top: dotted;
border-width: 8px;
color: #cdd8d8;
width: 5%;
margin:200px auto;
}


